{% extends 'AppBundle::layout.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
    {% if cv %}
        {% if myId == cv.auteur.id %}
            <div>
                <a href="{{ path('edit_cv') }}">éditer</a>
            </div>
        {% endif %}
        <div>
            {% include 'JobBoardBundle:CVController:show_cv_content.html.twig' %}
        </div>
    {% else %}
        vous n'avez pas de cv<br>
        <a href="{{ path('edit_cv') }}">créez en un</a>
    {% endif %}
{% endblock %}
